<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - Edit Profile</title>
  </head>
  <body>
    <% include partials/header %>
    <form method="post" action="/profile/edit?_method=PUT">
      <label>Name :</label>
      <input type="text" name="name" value="<%= userData.name%>" readonly/><br />
      <label>Email</label><br />
      <input type='email' name="email" value="<%= userData.email %>" readonly/><br />
      <span>Gender : <%= userData.gender %></span><br />
      <label>Date Of Birth</label><br />
      <input type="date" name="dob" value="<%= userData.dob %>"/><br />
      <label>Phone Number</label><br />
      <input type="tel" name="phone" value="<%= userData.phone_number %>"/><br />
      <label>Hire Allowance : </label>
      <% if (userData.hire_allow === "Yes") { %>
        <input type="radio" name="hire_allow" value="Yes" checked>Yes
        <input type="radio" name="hire_allow" value="No">No<br  />
      <% } else if (userData.hire_allow === "No") {%>
        <input type="radio" name="hire_allow" value="Yes">Yes
        <input type="radio" name="hire_allow" value="No" checked>No<br  />
      <% } %>
      <label>Current Location : </label><br />
      <select name="location" >
      <% if ( userData.location === "Medan") { %>
        <option value="Medan" selected>
          Medan
        </option>
        <option value="Binjai">Binjai</option>
        <option value="Belawan">
          Belawan
        </option>
      <% } else if (userData.location === "Binjai") { %>
        <option value="Medan">
          Medan
        </option>
        <option value="Binjai" selected>Binjai</option>
        <option value="Belawan">
          Belawan
        </option>
      <% } else if (userData.locaton === "Belawan") { %>
        <option value="Medan">
          Medan
        </option>
        <option value="Binjai">Binjai</option>
        <option value="Belawan" selected>
          Belawan
        </option>
      <% } %>
      </select>
      <label>Passsword</label><br /><!-- Don't use this whenever password is encrypted -->
      <input type="password" name='password' value="<%= userData.password %>"/><br />
      <input type="submit" name="update" value="Update"/>
    </form>
  </body>
</html>
