<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - Job Lists</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <%- include partials/header %>
    <%- include partials/nav %>
    <div class="container">
      <form method="GET" action="/search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search job..." name="search"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div>
      </form>
      <% for (i=0; i < jobdata.length; i++) { %>
        <div class="row">
          <h4><a href="/jobs/<%=jobdata[i]._id %>"><%= jobdata[i].title %></a></h4>
          <p style="color:grey"><%= jobdata[i].company_name %></p>
          <p>
            <%= jobdata[i].location %>
          </p>
          <p>
            <%= jobdata[i].description %>
          </p>
          <!-- <button type="submit" name="apply">Apply Now</button> -->
        </div>
      <% } %>
    </div>
  </body>

</html>
