<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - <%= userdata.name %></title>
  </head>
  <body>
    <% include partials/header %>
    <span>Full Name : <%= userdata.name %></span>
    <span>Email : <%= userdata.email %></span><br />
    <span>Gender : <%= userdata.gender %></span><br />
    <span>Date Of Birth : <%= userdata.dob %></span><br />
    <a href="/profile/edit">Update your profile here</a>
  </body>
</html>
